/* 自定义弹出层样式 layui-layer-green-tint */
.layui-layer-green-tint .layui-layer-title {
    background-color: var(--green-tint);
    color: var(--green);
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.layui-layer-green-tint .layui-layer-btn a {
    background-color: var(--green-tint);
    border-color: var(--green);
}

.layui-layer-green-tint .layui-layer-content {
    color: var(--green);
}

.layui-layer-green-tint .layui-layer-btn .layui-layer-btn1 {
    background: var(--green-tint);
}

.layui-layer-green-tint .layui-layer-content {
    padding: 15px 20px;
    text-align: justify;
    font-size: 14px;
    line-height: 2;
    border-bottom: 1px solid #e2e2e2;
}