@import url('./color.css');
body {
    margin: 15px 15px 15px 15px;
    background: #f2f2f2;
}

.layuimini-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff
}

.layuimini-main {
    margin: 10px 10px 10px 10px;
}

/**必填红点 */
.layuimini-form > .layui-form-item > .required:after {
    content: '*';
    color: var(--red);
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layuimini-form > .layui-form-item > .layui-form-label {
    /*width: 120px !important;*/
}

.layuimini-form > .layui-form-item > .layui-input-block {
    /*margin-left: 150px !important;*/
}

.layuimini-form > .layui-form-item > .layui-input-block > tip {
    display: inline-block;
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}

/**搜索框*/
.layuimini-container .table-search-fieldset {
    margin: 0;
    border: 1px solid #e6e6e6;
    padding: 10px 20px 5px 20px;
    color: #6b6b6b;
}

/**自定义滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9da0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em
}




/*自定义浅色按钮样式*/
.layui-btn-tint,
.layui-btn-green-tint {
    border-color: var(--green);
    color: var(--green);
    background-color: #FFFFFF;
}

.layui-btn-tint:hover,
.layui-btn-green-tint:hover {
    color: var(--green);
    background-color: var(--green-tint);
}

.layui-btn-green2-tint {
    border-color: var(--green2);
    color: var(--green2);
    background-color: #FFFFFF;
}

.layui-btn-green2-tint:hover {
    color: var(--green2);
    background-color: var(--green2-tint);
}

.layui-btn-danger-tint,
.layui-btn-red-tint {
    color: var(--red);
    border-color: var(--red);
    background-color: #fff;
}

.layui-btn-danger-tint:hover,
.layui-btn-red-tint:hover {
    color: var(--red);
    background-color: var(--red-tint);
}

.layui-btn-normal-tint,
.layui-btn-blue-tint {
    color: var(--blue);
    border-color: var(--blue);
    background-color: #fff;
}

.layui-btn-normal-tint:hover,
.layui-btn-blue-tint:hover {
    color: var(--blue);
    background-color: var(--blue-tint);
}

.layui-btn-warm-tint,
.layui-btn-orange-tint {
    color: var(--orange);
    border-color: var(--orange);
    background-color: #fff;
}

.layui-btn-warm-tint:hover,
.layui-btn-orange-tint:hover {
    color: var(--orange);
    background-color: var(--orange-tint);
}

/*自定义背景和字体颜色样式*/
/*浅色*/
.layui-bg-green-tint {
    color: var(--green);
    background-color: var(--green-tint);
}

.layui-bg-green2-tint {
    color: var(--green);
    background-color: var(--green-tint);
}

.layui-bg-red-tint {
    color: var(--red);
    background-color: var(--red-tint);
}

.layui-bg-blue-tint {
    color: var(--blue);
    background-color: var(--blue-tint);
}

.layui-bg-orange-tint {
    color: var(--orange);
    background-color: var(--orange-tint);
}

/*深色*/
.layui-bg-green-dark {
    color: var(--white-transparent-9);
    background-color: var(--green);

}

.layui-bg-red-dark {
    color: var(--white-transparent-9);
    background-color: var(--red);
}

.layui-bg-blue-dark {
    color: var(--white-transparent-9);
    background-color: var(--blue);
}

.layui-bg-orange-dark {
    color: var(--white-transparent-9);
    background-color: var(--orange);
}

/* 自定义弹出层样式 layui-layer-green-tint */
.layui-layer-green-tint .layui-layer-title {
    background-color: var(--green-tint);
    color: var(--green);
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.layui-layer-green-tint .layui-layer-btn a {
    background-color: var(--green-tint);
    border-color: var(--green)
}

.layui-layer-green-tint .layui-layer-content {
    color: var(--green);
    /* background-color: var(--maize-yellow); */
}

.layui-layer-green-tint .layui-layer-btn .layui-layer-btn1 {
    background: var(--green-tint)
}

.layui-layer-green-tint .layui-layer-content {
    padding:15px 20px;
    text-align:justify;
    font-size: 14px;
    line-height: 2;
}