@import url('../../css/color.css');

body {
    color: #0969da;
    line-height: 1.5;
    min-width: 308px;
}

#locale {
    float: right;
}

#locale > * {
    margin: 0 5px;
}

#locale > img {
    height: 25px;
    vertical-align: middle;
}

#locale button {
    font-size: 14px;
    background: none;
    outline: none;
    border: none;
    line-height: 20px;
    padding: 2px 10px;
    border-radius: 6px;
    transition: all 0.4s;
    color: #0969da;
    box-sizing: border-box;
}

#password, #id, #role {
    transition: all 0.1s;
}
#locale>button {
    border: 1px solid transparent;
}
#locale>button:hover {
    box-shadow: 0 0 0 3px rgba(3, 102, 214, .3);
    border-color: #0969da;
    outline: none;
}

.this_locale_btn {
    background-color: #0969da !important;
    color: white !important;
}

.header {
    margin: 32px auto;
    width: 300px;
    position: relative;
    left: 0;
    right: 0;
    font-size: 0;
}

.logo_img {
    width: 100%;
}

.title {
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: #0969da;
    font-weight: bold;
}

.main {
}

.form {
    margin: 16px auto 0 auto;
    padding: 20px;
    border: 1px solid #eaecef;
    border-radius: 6px;
    background-color: #f6f8fa;
    width: 266px;
}

.login_field {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #444d56;
}

.tip {
    float: right;
    color: red;
}

label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #444d56;
}

#id, #password,
select {
    border: 1px solid #eaecef;
    width: 240px;
    height: 20px;
    padding: 5px 12px;
    margin: 5px 0 15px 0;
    border-radius: 6px;
}

select {
    height: 34px;
    width: 266px;
}

#id:focus,
#password:focus,
select:focus {
    box-shadow: 0 0 0 3px rgba(3, 102, 214, .3);
    border-color: #0969da;
    outline: none;
}

#login_btn {
    border: 1px solid #2b9148;
    background-color: #2ea44f;
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    transition: all 0.4s;
    outline: none;
}

#login_btn:hover {
    background-color: #22863a;
}


.label {
    margin: 16px auto 0 auto;
    padding: 15px 20px;
    border: 1px solid #eaecef;
    border-radius: 6px;
    width: 266px;
    font-size: 12px;
    text-align: center;
}


/* 更改select样式 */
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNjI2MjcyNTk2Mzc4IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjM0MDciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNODU4LjQ1MzMzMyAyNjkuOTYwNTMzbDcyLjYxODY2NyA3Mi42MTg2NjdMNTkxLjYzMzA2NyA2ODEuOTg0bDAuMTcwNjY2IDAuMTcwNjY3LTcxLjkwMTg2NiA3MS45MDE4NjYtMC4xNzA2NjctMC4xNzA2NjYtMC4xNTM2IDAuMTcwNjY2LTcyLjYxODY2Ny03Mi42MTg2NjYgMC4xNTM2LTAuMTUzNkwxMTIuNDY5MzMzIDM0Ni42NzUybDcxLjkxODkzNC03MS45MDE4NjcgMzM0LjYwOTA2NiAzMzQuNjI2MTM0eiIgcC1pZD0iMzQwOCI+PC9wYXRoPjwvc3ZnPg==") no-repeat scroll #fff;
    background-size: 12px;
    background-position: 245px;
}


/*其他登陆方式*/
.authentication.label {
    font-size: 0;
    border: 1px solid #eaecef;
}

.authentication.label > div {
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    transition: all .4s;
    border: 1px solid transparent;
}

.authentication.label > div:hover {
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    transition: all .4s;
    box-shadow: 0 0 0 3px rgb(3 102 214 / 30%);
    border-color: #0969da;
    outline: none;
    cursor: pointer;
}

.authentication.label > div:nth-child(2) {
    margin: 0 8px;
}

.authentication.label > div > img {
    height: 25px;
    margin: 4px 3px;
}

.authentication.label > a > img:hover {
    background-color: #0B7500;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}
