<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>修改邮箱</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <div class="layui-form layuimini-form layui-form-pane" id="app">
                <div class="layui-form-item">
                    <label class="layui-form-label">新邮箱</label>
                    <div class="layui-input-block">
                        <input type="email" lay-verify="required|email" class="layui-input" id="email" v-model="email">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline">
                        <input type="text" lay-verify="required" class="layui-input" v-model="captcha">
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-primary" @click="sendCaptcha"
                            :disabled="timeLeft!=0"
                            :class="timeLeft!=0?'layui-btn-disabled':''">{{timeLeft==0?'获取验证码':countdownBtnText}}</button>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-layout-right layui-bg-green" lay-submit lay-filter="saveBtn">
                            <i class="fa fa-check"></i> 确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script src="/js/lay-config.js" charset="utf-8"></script>
    <script src="/lib/util/layui_verify_config.js"></script>
    <script src="/lib/util/common.js"></script>
    <script src="/lib/vue2/vue.js"></script>
    <script>

        let form, $;

        // 点击获取验证码,主动触发验证

        let app = new Vue({
            el: '#app',
            data: {
                email: '',
                captcha: '',
                timeLeft: 0,
                countdownBtnText: '',
                timerId: null,
            },
            methods: {
                sendCaptcha() {
                    if (this.timeLeft != 0) {
                        return;
                    }
                    const isValid = form.validate('#email');
                    if (!isValid) {
                        return;
                    }

                    const _this = this;

                    $.ajax({
                        url: common.url('sender/captcha/update-email.do'),
                        data: {
                            email: this.email,
                        },
                        type: 'get',
                        success: function (res) {
                            if (res.success) {
                                _this.countdown();
                                layer.msg(res.message, { icon: 1 });
                                return
                            }
                            layer.msg(res.message, { icon: 2 });
                        },
                    })
                },
                update() {
                    $.ajax({
                        url: common.url('/account/update/email.do'),
                        data: {
                            email: this.email,
                            captcha: this.captcha,
                        },
                        type: 'post',
                        success: function (res) {
                            if (res.success) {
                                layer.msg(res.message, { icon: 1 });
                                return
                            }
                            layer.msg(res.message, { icon: 2 });
                        },
                    })
                },
                countdown() {
                    const _this = this;
                    this.timeLeft = 120;
                    var minutes = Math.floor(this.timeLeft / 60);
                    var seconds = this.timeLeft % 60;
                    this.countdownBtnText = minutes + '分' + seconds + '秒';
                    this.timerId = setInterval(() => {
                        _this.timeLeft--;
                        var minutes = Math.floor(_this.timeLeft / 60);
                        var seconds = _this.timeLeft % 60;
                        _this.countdownBtnText = minutes + '分' + seconds + '秒';

                        if (_this.timeLeft <= 0) {
                            clearInterval(_this.timerId);
                        }
                    }, 1000);
                }
            }
        })

        layui.use(function () {
            form = layui.form;
            $ = layui.jquery;
            common.ajaxSetup($);

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                app.update();
                return false;
            });
        });
    </script>
</body>

</html>