.message_content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* background-color: var(--maize-yellow); */
}
.datetime {
    float: left;
    color: rgba(0,0,0,.5);
    font-size: 12px;
    font-style: italic;
}
.table_card_message_icon>* {
    float: right;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}
