<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" />
    <title>账户详情</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/css/public.css" media="all" />
    <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all" />
    <style>
        #searchBtn {
            position: absolute;
            right: 18px;
        }

        span:last-child .no {
            display: none;
        }
    </style>
</head>

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">
            <form class="layui-form layui-form-pane" lay-filter="detail" id="app">
                <div class="layui-form-item">
                    <label class="layui-form-label">账户ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="account" lay-verify="required" class="layui-input" autocomplete="off"
                            oninput="app.detail=null" v-model="id" />
                    </div>
                </div>

                <div class="layui-bg-gray" style="margin-bottom: 15px">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">账户信息</div>
                                <div class="layui-card-body">
                                    <table class="layui-table" lay-skin="nob">
                                        <tbody id="account_tbody">
                                            <tr>
                                                <td>账户ID</td>
                                                <td>{{detail?detail.account.id:''}}</td>
                                            </tr>
                                            <tr>
                                                <td>账户角色</td>
                                                <td>{{detail?
                                                    (detail.account.role==='user'?'用户':
                                                    detail.account.role==='admin'?'管理员':
                                                    detail.account.role==='pos'?'刷卡机':'未知')
                                                    :''}}</td>
                                            </tr>
                                            <tr>
                                                <td>账户状态</td>
                                                <td>{{detail?
                                                    (detail.account.state==='normal'? '正常':
                                                    detail.account.state==='canceled'? '注销':
                                                    detail.account.state==='frozen'? '冻结':'未知')
                                                    :''}}</td>
                                            </tr>
                                            <tr>
                                                <td>邮箱</td>
                                                <td>{{detail?detail.account.email:''}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md6" id="card_block" v-show="detail?detail.account.role==='user':true">
                            <div class="layui-card">
                                <div class="layui-card-header">卡信息</div>
                                <div class="layui-card-body">
                                    <table class="layui-table" lay-skin="nob">
                                        <tbody id="card_tbody">
                                            <tr>
                                                <td>卡ID</td>
                                                <td>{{detail && detail.account.role==='user'? detail.card.id:''}}</td>
                                            </tr>
                                            <tr>
                                                <td>所属账户</td>
                                                <td>{{detail && detail.account.role==='user'? detail.card.account:''}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>卡余额</td>
                                                <td>{{detail && detail.account.role==='user'?
                                                    detail.card.balance/100:''}}</td>
                                            </tr>
                                            <tr>
                                                <td>卡状态</td>
                                                <td>{{detail && detail.account.role==='user'?(
                                                    detail.card.state==='normal'? '正常':
                                                    detail.card.state==='loss'? '挂失':
                                                    detail.card.state==='canceled'? '注销':'未知'
                                                    ):''}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md6" id="user_block" v-show="detail?detail.account.role==='user':true">
                            <div class="layui-card">
                                <div class="layui-card-header">用户信息</div>
                                <div class="layui-card-body">
                                    <table class="layui-table" lay-skin="nob">
                                        <tbody id="user_tbody">
                                            <tr>
                                                <td>ID</td>
                                                <td>{{detail && detail.account.role==='user'?detail.user.id:''}}</td>
                                            </tr>
                                            <tr>
                                                <td>姓名</td>
                                                <td>{{detail && detail.account.role==='user'?detail.user.name:''}}</td>
                                            </tr>
                                            <tr>
                                                <td>拥有卡ID</td>
                                                <td>{{detail && detail.account.role==='user'?detail.user.card:''}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">部门信息</div>
                                <div class="layui-card-body">
                                    <table class="layui-table" lay-skin="nob">
                                        <tbody id="department_tbody">
                                            <tr>
                                                <td>ID</td>
                                                <td>{{detail?
                                                    detail.departmentChain[detail.departmentChain.length-1].id:''}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>部门</td>
                                                <td>
                                                    <span v-show="detail"
                                                        v-for="(value, key, index) in (detail?detail.departmentChain:[])">
                                                        {{ value.name }}
                                                        <span v-if="index !== detail.departmentChain.length - 1"
                                                            class="no"> > </span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-btn-container">
                        <button type="button" lay-submit lay-filter="canceled" class="layui-btn layui-btn-danger"
                            @click="canceled" :disabled="detail?detail.account.state==='canceled':false"
                            :class="detail?(detail.account.state==='canceled'?'layui-btn-disabled':''):''">
                            <i class="fa fa-close"></i> 注销
                        </button>

                        <button type="button" lay-submit @click="resetPassword" class="layui-btn layui-btn-warm"
                            :disabled="detail?detail.account.state==='canceled':false"
                            :class="detail?(detail.account.state==='canceled'?'layui-btn-disabled':''):''">
                            <i class="fa fa-key"></i> 重置密码
                        </button>

                        <button type="button" lay-submit class="layui-btn layui-btn-danger"
                            v-show="detail?detail.account.role==='user':true" lay-filter="state" @click="state"
                            :disabled="detail&&detail.account.role==='user'?detail.account.state==='canceled':false"
                            :class="detail&&detail.account.role==='user'?(detail.account.state==='canceled'?'layui-btn-disabled':''):''">
                            <span v-if="detail&&detail.account.role==='user'?
                                (detail.card.state==='canceled'?true:false):true">
                                <i class="fa fa-lock"></i> 挂失 / 解挂
                            </span>
                            <span v-if="detail&&detail.account.role==='user'?
                            (detail.card.state==='normal'?true:false):false">
                                <i class="fa fa-lock"></i> 挂失
                            </span>
                            <span v-if="detail&&detail.account.role==='user'?
                            (detail.card.state==='loss'?true:false):false">
                                <i class="fa fa-unlock"></i> 解挂
                            </span>
                        </button>

                        <button type="button" lay-submit lay-filter="consume" class="layui-btn layui-bg-green"
                            v-show="detail?detail.account.role==='user':true" @click="consume">
                            <i class="fa fa-bar-chart"></i> 消费查询
                        </button>
                        <button type="button" class="layui-btn layui-bg-green" lay-submit @click="recharge"
                            v-show="detail?detail.account.role==='user':true"
                            :disabled="detail?detail.account.state==='canceled':false"
                            :class="detail?(detail.account.state==='canceled'?'layui-btn-disabled':''):''">
                            <i class="fa fa-jpy"></i> 充值
                        </button>

                        <button class="layui-btn layui-bg-green" lay-submit id="searchBtn" lay-filter="searchBtn">
                            <i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/lib/layui/layui.js"></script>
    <script src="/lib/vue2/vue.js"></script>
    <script src="/js/lay-module/layuimini/miniTab.js"></script>
    <script src="/lib/util/layui_verify_config.js"></script>
    <script src="/lib/util/amount.js"></script>
    <script src="/lib/util/common.js"></script>
    <script>
        let form, $, layer, miniTab;


        let app = new Vue({
            el: '#app',
            data: {
                detail: null,
                id: ''
            },
            methods: {
                resetPassword: function () {
                    const _this = this;
                    if (!this.detail) {
                        layer.msg('请先查询', { icon: 2 });
                        return false;
                    }

                    if (this.detail.account.state === 'canceled') {
                        return false;
                    }

                    if (this.detail.account.state === 'canceled') {
                        return false;
                    }

                    layer.open({
                        title: '重置密码',
                        content: '确认重置密码吗?',
                        btn: ['重置', '取消'],
                        icon: 3,
                        shadeClose: true,
                        btn1: function (index) {
                            $.ajax({
                                url: '/account/update/resetPassword.do',
                                data: { account: _this.detail.account.id },
                                type: 'post',
                                success: function (res) {
                                    if (res.success) {
                                        layer.msg(res.message, { icon: 1 });
                                        return;
                                    }
                                    layer.msg(res.message, { icon: 2 });
                                },
                            });
                        },
                    });
                    return false;
                },

                state: function (data) {
                    const _this = this;
                    if (!this.detail) {
                        layer.msg('请先查询', { icon: 2 });
                        return false;
                    }

                    if (this.detail.state === 'canceled' || this.detail.card.state === 'canceled') {
                        return false;
                    }

                    const account = this.detail.account.id;
                    let state = this.detail.card.state;
                    switch (state) {
                        case 'loss': state = 'normal'; break;
                        case 'normal': state = 'loss'; break;
                        default: return false;
                    }

                    layer.open({
                        title: '挂失',
                        content: state === 'normal' ? '确认解挂吗' : '确认挂失吗',
                        btn: ['确定', '取消'],
                        icon: 3,
                        shadeClose: true,
                        btn1: function (index) {

                            $.ajax({
                                url: 'card/update/state.do',
                                data: { account, state },
                                type: 'post',
                                success: function (res) {
                                    if (res.success) {
                                        layer.msg(res.message, { icon: 1 });
                                        _this.queryAccount(_this.id);
                                        return;
                                    }
                                    layer.msg(res.message, { icon: 2 });
                                },
                            });
                        },
                    });
                },

                queryAccount: function (account) {
                    if (!account) {
                        account = this.id;
                    }
                    const _this = this;
                    $.ajax({
                        url: 'account/one/account-detail.do',
                        data: { account },
                        success: function (res) {
                            if (!res.success) {
                                if (window.top.progress) {
                                    window.top.progress.error();
                                }
                                layer.msg(res.message, { icon: 2 });
                                return;
                            }
                            //赋值
                            _this.detail = res.data;
                        }
                    });
                },

                recharge: function () {
                    const _this = this;
                    if (!this.detail) {
                        layer.msg('请先查询', { icon: 2 });
                        return false;
                    }

                    if (this.detail.account.state === 'canceled' || this.detail.card.state === 'canceled') {
                        return false;
                    }

                    const account = this.id;

                    layer.prompt({ title: '充值', formType: 0 }, function (amount, index) {
                        //判断是否为金额
                        if (!Amount.isAmount(amount)) {
                            layer.msg('不是金额', { icon: 2 });
                            return false;
                        }

                        //判断小数位数是否为1或2位
                        const dl = Amount.decimalLength(amount);
                        if (!(dl <= 2 && dl >= 0)) {
                            layer.msg(`小数点后最多两位(${dl})`, { icon: 2 });
                            return false;
                        }

                        if (!Amount.inRange(amount, 1, 1000)) {
                            layer.msg(`充值金额在 1~1000 元(${amount})`, { icon: 2 });
                            return false;
                        }

                        $.ajax({
                            url: 'card/update/recharge.do',
                            data: { account, amount: Amount.multi(amount, 2) },
                            type: 'post',
                            success: function (res) {
                                if (res.success) {
                                    layer.msg(res.message, { icon: 1 });
                                    _this.queryAccount(account);
                                    return;
                                }
                                layer.msg(res.message, { icon: 2 });
                            }
                        });

                        layer.close(index);
                    });
                },

                canceled: function () {
                    if (!this.detail) {
                        layer.msg('请先查询', { icon: 2 });
                        return false;
                    }


                    if (this.detail.account.state === 'canceled') {
                        return false;
                    }

                    const _this = this;
                    const account = this.id;

                    layer.open({
                        title: '注销',
                        content: '确认注销吗?',
                        btn: ['注销', '取消'],
                        icon: 3,
                        shadeClose: true,
                        btn1: function (index) {
                            $.ajax({
                                url: '/account/update/canceled.do',
                                data: { account },
                                type: 'post',
                                success: function (res) {
                                    if (res.success) {
                                        layer.msg(res.message, { icon: 1 });
                                        _this.queryAccount(account);
                                    }

                                    layer.msg(res.message, { icon: 2 });
                                },
                            });
                        },
                    });
                },

                consume: function () {
                    //关闭之前打开的详情页
                    const tabCloseBtn = window.top.document.querySelector(
                        'li[lay-id="page/admin/consume/index.html"]>i'
                    );
                    if (tabCloseBtn != null) {
                        tabCloseBtn.click();
                    }

                    //消费记录页面
                    sessionStorage.setItem('page/admin/consume/index.html', this.id);
                    miniTab.openNewTabByIframe({
                        href: 'page/admin/consume/index.html',
                        title: '消费列表',
                    });
                }

            }
        })

        layui.use(['form'], function () {
            layer = layui.layer;
            $ = layui.$;
            form = layui.form;
            miniTab = layui.miniTab;

            // ajax全局配置
            common.ajaxSetup($);

            //配置layui表单验证配置
            form.verify(layui_verify_config);

            const accountId = sessionStorage.getItem(window.top.location.hash);
            sessionStorage.removeItem(window.top.location.hash);

            //给表单赋值
            app.id = accountId;
            form.val('detail', {
                account: accountId,
            });

            // 搜索
            form.on('submit(searchBtn)', function (data) {
                app.queryAccount();
                return false;
            });

            //如果获取到账号，则自动查询
            if (accountId != null) {
                app.queryAccount(accountId);
            }
            return false;
        });




    </script>
</body>

</html>